@import "../../../themes/colors/colors.scss";
@import "../../../themes/mixins/mixins.scss";

.contact_form_container {
  padding: 4rem 1.25rem;

  @include lg {
    padding: 4rem 0rem;
    width: 58%;
    margin: 0 auto;
  }

  @include xxl {
    width: 85%;
    margin: 0 auto;
  }
}

.contact_form_wrapper {
  background: $primary;
}

.form_heading {
  color: $black;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
  margin: 0;

  @include md {
    margin: 1rem auto 2rem;
  }

  @include lg {
    margin: 1.5rem auto 1.5rem;
  }
}

.input_fields_div {
  border-radius: 1.5rem;

  @include md {
    border-radius: 1.33rem;
  }

  @include lg {
    border-radius: 2.5rem;
  }
}
